<ion-header>
  <ion-toolbar>
    <ion-title>
      ホーム
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <!--  <ion-card-subtitle>お知らせ</ion-card-subtitle>-->
      <ion-card-title>お知らせ</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="loader" style="text-align: center;">
      <ion-spinner></ion-spinner>
      <p>読み込み中...</p>
      </div>
      <ion-list>
        <ion-item *ngIf="n1">
          <ion-label>{{n1.title}}</ion-label>
        </ion-item>
        <ion-item *ngIf="n2">
          <ion-label>{{n2.title}}</ion-label>
        </ion-item>
        <ion-item *ngIf="n3">
          <ion-label>{{n3.title}}</ion-label>
        </ion-item>
      </ion-list>
 <div style="text-align: center" *ngIf="n4 && !notifyEM">
  ...
 </div><p *ngIf="notifyEM && !loader && !n1 && !n4 && !n3 && !n4" style="text-align: center;">お知らせは現在ありません。</p>
 <div *ngIf="n1 && !loader" style="text-align: center;"><ion-button (click)="gonotify()" fill="outline" style="text-align: center;" slot="end">お知らせを確認する</ion-button></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>実行履歴</ion-card-title>
      <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="loader2 && !r1" style="text-align: center;">
        <ion-spinner></ion-spinner>
        <p>読み込み中...</p>
        </div>
        <ion-list>
          <ion-item *ngIf="r1">
            <ion-icon slot="end" [name]="r1.icon"></ion-icon>
            <h2>{{r1.text}}</h2>
            <p>{{r1.time}}</p>
          </ion-item>
          <ion-item *ngIf="r2">
            <ion-icon slot="end" [name]="r2.icon"></ion-icon>
            <h2>{{r2.text}}</h2>
            <p>{{r2.time}}</p>
          </ion-item>
          <ion-item *ngIf="r3">
            <ion-icon slot="end" [name]="r3.icon"></ion-icon>
            <h2>{{r3.text}}</h2>
            <p>{{r3.time}}</p>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>最近ブロックしたDM</ion-card-title>
    <!--  <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>-->
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>セキュリティ</ion-card-title>
    <!--  <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>-->
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-icon name="checkmark-circle-outline" style="font-size: 90px;color:mediumspringgreen;"></ion-icon>
      <h2>Twitterアカウントは安全な状態です。</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
