<ion-header>
  <ion-toolbar>
    <ion-title>
      ホーム
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <!--  <ion-card-subtitle>お知らせ</ion-card-subtitle>-->
      <ion-card-title>お知らせ</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>お知らせは現在ありません。</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>実行履歴</ion-card-title>
      <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>最近ブロックしたDM</ion-card-title>
    <!--  <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>-->
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>最近ブロックしたスパム送信者</ion-card-title>
    <!--  <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>-->
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>セキュリティ</ion-card-title>
    <!--  <ion-card-subtitle><ion-icon name="help-circle-outline"></ion-icon>説明を見る</ion-card-subtitle>-->
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
