<ion-header>
  <ion-toolbar>
    <ion-title>
      ブロックしたユーザー
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loader && !list" style="padding: 100px 0px 0px 0px; text-align: center;">
    <ion-spinner></ion-spinner>
    <p>読み込み中...</p>
    </div>
    <ion-list>
  <div *ngIf="!loader && !list" style="color: gray; padding: 100px 0px 0px 0px; text-align: center;">ブロックしたスパム送信者はまだいません。</div>
  <ion-item *ngFor="let lists of list">
    <ion-label>{{lists}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
