<!--<ion-header>
  <ion-toolbar>
    <ion-title>offline</ion-title>
  </ion-toolbar>
</ion-header>
-->
<style>
body {
    width: 100%;
    min-height: 100vh;
    display: relative;
    margin: 0;
    padding: 0;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1 {
    color: #22254c;
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 1rem;
    text-shadow: 0 0 3px #606060;
  }
  h4 {
    color: #22254c;
    font-family: arial;
    font-weight: 300;
    font-size: 16px;
  }
/*  .button {
    display: block;
    margin: 20px 0 0;
    padding: 15px 30px;
    background: #22254C;
    color: white;
    font-family: arial;
    letter-spacing: 5px;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: 0 0 15px #22254C;
    transition-duration: 0.9s;
  }
  .button:active{
    box-shadow: 0 0 5px #000000 inset;
  }*/
</style>
<ion-content>
  <div class="wrapper">
    <h1><ion-icon name="globe"></ion-icon></h1>
    <h4>インターネットに接続されていません。</h4>
<ion-spinner *ngIf="load"></ion-spinner>
<div *ngIf="!load">
    <ion-button expand="block" fill="outline" (click)="reload()" color="dark" class="button">再試行</ion-button>
  </div>
  </div>
</ion-content>
